.search-bar{
    border: 1px solid lavender;
    border-radius: 6px;
    padding: 10px;
}

.search-bar form{
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
}